@import "../../variables.css";

.expenses-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 3vh 2vw;
    max-width: 1200px;
    background-color: var(--dark-color);
    margin: auto;
}

.expense-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3vw;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2vh 2vw;
    color: rgba(255, 255, 255, 0.85);
}

.expense-item-description {
    display: flex;
    flex: 5;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    height: fit-content;
    padding: 0 2vw;
}

.expense-item-price {
    min-width: 150px;
    background-color: var(--dark-color);
    padding: 10px;
}

.expense-item-price, .date-container{
    border: 2px solid rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date-container{
    flex: 1;
    max-width: 130px;
    background-color: rgba(0, 0, 0, 0.75);
}

